*{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration-line: none;
  color:inherit;
}

h2{
  font-size:50px;
  line-height: 1;
  margin-bottom:25px;
  margin-top:60px;
}

.miniMenu{
  display:flex;
  flex-flow:row nowrap;
  justify-content: end;
  font-size: 12px;
  font-weight: 500;
  gap:12px;
  padding:13px 48px;
  color:#111111;
}

.headerBody{
  background-color:#c7000e;
  padding:0 50px;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
}

.category{
  width:40px;
  height:40px;
  background-color: #fff;
  padding:20px;
  margin-right: 30px;
}

.logo{
  height: 28px;
}

.logoLink{
  padding: 20px;
}

.mainMenu{
  color: #fff;
  margin-left:10px;
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.mainLink{
  padding:20px;
  font-size: 18px;
  font-weight: 500;
}

.mainIcons{
  display:flex;
  gap:40px;
}

.mainIcon{
  height: 24px;
}

.new{
  font-size:5px;
  background-color: #cdd91c;
  color:#111111;
  line-height: 16px;
  font-weight: 700;
  padding: 0 3px;
  margin-left: 3px;
  border-radius: 8px;
  position: absolute;
}

.newZ{
  max-width: 100%;
}

.viewProduct{
  display:flex;
  justify-content: space-between;
  margin-bottom: 60px;
  font-size:20px;
  font-weight: 500;
  color:#666666;
}

.mainProduct{
  margin:140px 100px;
}

.only{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:80px 20px;
  width: auto;
}

.set{
  grid-column-start:1;
  grid-column-end: 3;
}

.production{
  width: 100%;
  border-radius: 12px;
  background-color: #fff
}

.img{
  margin-bottom: 30px;
  position:relative;
}

.addCart{
  bottom: 20px;
  right: 20px;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-image:url(./assets/addCart.png);
  background-repeat: no-repeat;
}

.more{
  text-align: center;
  margin: 40px 0;
}

.snack{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: auto;
  margin-bottom: 140px;
}

.snackSet{
  grid-column-start: 3;
  grid-column-end: 5;
  gap:80px 20px;
}

.AIProduct{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  width: auto;
  margin-bottom: 140px;
}

.whiteBtn{
  color:#999;
  font-size:16px;
  background: none;
  height: 42px;
  line-height: 42px;
  padding:0 40px;
  border-radius: 22px;
  border:1px solid #eaeaea;
}

.redBtn{
  color:white;
  font-size:16px;
  background: #c7002e;
  height: 42px;
  line-height: 42px;
  padding:0 40px;
  border-radius: 22px;
  border:none;
  margin-left: 10px;
}

.moreBtn{
  border-radius: 30px;
  padding: 0 30px;
  font-size:18px;
  height: 60px;
  line-height: 60px;
  min-width: 140px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-bottom: 140px;
}

.myNongsim{
  font-size:20px;
  font-weight:500;
  color:#666666;
  margin-bottom: 30px;
}

.swiperUl{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap:20px
}

.pink{
  background-color: #fff5f7;
  padding: 30px;
  margin-bottom: 140px;
}

.newProduct{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.review{
  display:flex;
  flex-flow:column wrap;
  width: 310px;
  border-radius: 12px;
  border:0.5px solid #d4d3d3;
}

.reviewProduction{
  height: 218px;
  width: 310px;
  margin-bottom: 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cupZ{
  font-size:16px;
  color:#666;
  font-weight: 600;
}

.reviewZ{
  font-size:16px;
  color:#666;
}

.reviewD{
  margin: 0px 20px 30px 20px;
}

.moreReview{
  border-radius: 30px;
  padding: 0 30px;
  font-size:18px;
  height: 60px;
  line-height: 60px;
  min-width: 140px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-bottom: 140px;
}